<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current order</title>
</head>
<body>
<div class="burgerOrder-group" id="burgerOrder" th:object="${currentOrder}">
    <h1>Your order <span th:text="${currentOrder.orderName}">"ORDER NAME"</span> is preparing</h1>
    <h2>Order details</h2>
    <div class="burger-group" id="orderBurgers" th:each="burger : ${currentOrder.getBurgers()}">
        <h3>Burger name: <span th:text="${burger.name}">BURGER NAME</span></h3>
        <div class = "ingredient-group" id="burgerIngredient" th:each="intgredient : ${burger.getIngredients()}">
            <span th:text="${intgredient.name}">INGREDIENT NAME</span>
        </div>
    </div><br>
    <h2>Order address</h2>
    <div class="address-group" id="address" th:object="${address}">
        <h3><span th:text="${address.street}">BURGER NAME</span></h3>
        <h3><span th:text="${address.city}">BURGER NAME</span></h3>
        <h3><span th:text="${address.state}">BURGER NAME</span></h3>
        <h3><span th:text="${address.zipNumber}">BURGER NAME</span></h3>
    </div>
</div>

<!--<form method="GET" th:object="${ingredients}">-->
<!--    <h2>Show burgers contains ingredients</h2>-->
<!--    <div class="ingredient-group" id="ingredient" th:each="ingredient : ${ingredients}">-->
<!--        <input name="ingredient" type="checkbox" th:value="${ingredient.id}"/>-->
<!--        <span th:text="${ingredient.name}">INGREDIENT</span><br/>-->
<!--    </div>-->
<!--    <button>Show burgers</button>-->
<!--</form>-->

<a th:href="@{updateOrder}">Do you want to update your order?</a>

</body>
</html>