<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current burgerOrderDto</title>
    <link rel="stylesheet" th:href="@{/styless.css}" />
</head>
<body>
<h1>Your burgerDto is preparing. Let's fill the delivery form</h1>
<form method="post">
    <div class="burgerOrderDto-group" id="burgerOrderDto" th:object="${burgerOrder}">
        <label for="name">Name</label>
<!--        There is a problem with field name in burgerDto and burgerOrderDto name-->
        <input type="text" id="name" placeholder="name" th:field="*{orderName}">
    </div>
    <div class="addressDto-group" id="addressDto" th:object="${address}">
        <label for="street">Street</label>
        <input type="text" id="street" placeholder="Street" th:field="*{street}"><br>
        <label for="city">City</label>
        <input type="text" id="city" placeholder="City" th:field="*{city}"><br>
        <label for="state">State</label>
        <input type="text" id="state" placeholder="State" th:field="*{state}"><br>
        <label for="zip">Zip</label>
        <input type="text" id="zip" placeholder="Zip" th:field="*{zipNumber}"><br>
<!--        <label for="creditCardNumber">Number of credit card</label>
        <input type="text" id="creditCardNumber" placeholder="Number of credit card" th:field="*{ccNumber}"><br>
        <label for="creditCardExpiration">Credit card expiration</label>
        <input type="text" id="creditCardExpiration" placeholder="Credit card expiration" th:field="*{ccExpiration}"><br>
        <label for="cvv">CVV</label>
        <input type="text" id="cvv" placeholder="CVV" th:field="*{ccCVV}"><br>
        <span class="validationError"
              th:if="${#fields.hasErrors('ccCVV')}" th:errors="*{ccCVV}">CVV error</span>-->
    </div>
    <button>Confirm your delivery</button>
</form>
<a th:href="@{/design}">Add another burgerDto</a>
</body>
</html>