<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search result</title>
</head>
<body>
    <div class="burgerOrderDto-group" id="burgerOrderDto" th:each="burgerOrderDto : ${searchResult}">
        <h1><span th:text="${burgerOrderDto.orderName}">ORDER NAME</span></h1>
        <div class="burgerDto-group" id="burgerDto" th:each="burgerDto : ${burgerOrderDto.getBurgers()}">
            <h2><span th:text="${burgerDto.getName()}">BURGER NAME</span></h2>
            <div class="ingredientDto-group" id="ingredientDto" th:each="ingredientDto : ${burgerDto.getIngredients()}">
                <h3><span th:text="${ingredientDto.name}">INGREDIENT NAME</span></h3>
            </div>
        </div>
    </div>
</body>
</html>